body {
    margin: 0;
    background-color: #1E1E1E;
    color: white;
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    z-index: 100;
}

.loading-img {
    margin-top: 200px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        -webkit-transform: rotateY(0);
    }
    50% {
        -webkit-transform: rotateY(0.5turn);
    }
    100%{
        -webkit-transform: rotateY(1turn);
    }
}