body, html {
    margin: 0;
    color: white;
    background-color: #1E1E1E;
    height: 100%
}

.overlay {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1E1E1E;
    z-index: 100;
}

.loading-img {
    margin-top: 200px;
    animation: spin 2s linear infinite;
}

.deep-like {
    -webkit-box-shadow: 0px 0px 2px 0px #CCCCCC80;
    -moz-box-shadow: 0px 0px 2px 0px #CCCCCC80;
    box-shadow: 0px 0px 2px 0px #CCCCCC80;
}

.ghico {
    color: #CCCCCC;
}

.ghico:hover {
    background-color: #24292E;
    color: white;
}

.twico {
    color: #1DA1F2;
}

.twico:hover {
    color: #1E1E1E;
    background-color: #1DA1F2;
}

@keyframes spin {
    0% {
        -webkit-transform: rotateY(0);
    }
    50% {
        -webkit-transform: rotateY(0.5turn);
    }
    100% {
        -webkit-transform: rotateY(1turn);
    }
}

@media only screen and (max-width: 768px) {
    .vertical {
        display: none;
    }
    .consolas {
        font-size: inherit
    }
}